.sizes {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sizes span {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.sizes span:hover, .sizes span.active {
    background: black;
    color: white;
    border-color: black;
}

