
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: slategrey;
    
}

.logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo span {
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    transition: 0.3s;
}

.nav-links a:hover {
    color: black;
}


.kotak {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    
}

.product-card {
    display: flex;
    background: slategray;
    max-width: 900px;
    border-radius: 20px;
    overflow: hidden;
}


.product-image {
    flex: 1;
    background: white;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}


.product-details {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    
}

.category {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 10px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: black;
}

.price {
    font-size: 24px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

.description {
    font-size: 14px;
    line-height: 1.6;
    color: white;
    margin-bottom: 30px;
}


.sizes {
    display: flex;
    gap: 10px;
    margin-top: px;
    margin-bottom: 30px;
}

.sizes span {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.sizes span:hover, .sizes span.active {
    background: black;
    color: white;
    border-color: black;
}


.buy-btn {
    background: black;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.buy-btn:hover {
    background: white;
    color:black;
    
}